.boton1 {
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:60px;
    background-color:#005BBB;
    }
    .boton2 {
        text-decoration:none;
        font-weight:600;
        font-size:20px;
        color:#ffffff;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:40px;
        padding-right:70px;
        background-color:#c515bc;
        }
        p{
            margin: 80 auto;
            width: 100%;
            background-color: #fdf3bc;
            border-bottom: solid 5px #f1b25f;
            color:bl;
        }
        h2{
            width: 20%;
            background-color: burlywood;
            border-bottom: solid 5px blanchedalmond;
            color:bl;
        }