<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mas info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mas info</ion-title>
    </ion-toolbar>
  </ion-header>


  <button onclick="location.href='https://www.facebook.com/dark102030/'" class="boton1">Faacebook</button>
  <button onclick="location.href='https://www.instagram.com/albertphotography__/?hl=es-la'" class="boton2">Instagram</button>
    <p>

Estudia Ing. en Sistemas Computacionales en TecNM Campus Ciudad Hidalgo<br>

Vive en Michoacán<br>

De Michoacán<br>

En una relación con Jocelyn Soto<br>

733 seguidores Faacebook<br>

</p>
</ion-content>
