<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Presentacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Presentacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="cen">
<h2>Ing. Sistemas Computacionales</h2>
 
  <img class="circular--square" id="one"
  src="./assets/Adg.jpg" />
  <div class="outer">
   
  
    <p>
      Mi nombre es Alberto Duran Gonzalez <br>
      Soy originario de Ciudad Hidalgo Michoacan.<br>
      Tengo 22 años.<br>
      Soy Fotografo.<br>
      Me gusta jugar voleivol y me encanta ver peliculas,<br>
       Jugar videojuegos y Amo Bailar.<br>
    </p>

 

    
  </div>
    </div>



</ion-content>
